@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
  background-color: bisque;
}

.heart {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 100px;
  background: red;
  animation: pulse 1s infinite alternate;
}

.square {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  background:red;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  background: red;
}

.top {
  top: 100px;
}

.left {
  left: 100px;
}

@keyframes pulse {
  0%   {transform: scale(0.9) rotate(-135deg);}
  100% {transform: scale(1.1) rotate(-135deg);}
}

.love, .name{
  font-family: 'Itim', cursive;
  font-size: 100px;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

